body {
	margin: 0; 
	padding: 0;
	background-color: #555;
	}

body {
	font-size: 18px;
	line-height: 14px;
	line-height: 18px;
	font-family: helvetica, sans-serif;
	text-decoration: none;
	color: #000;
	}

/* ------------------------------------------------------------------ */

a:link {
	font:				19px helvetica, sans-serif;
	text-decoration:	none; 
	color:				#ffcd05;
	}

a:visited {
	font:				19px helvetica, sans-serif; 
	text-decoration:	none; 
	color:				#ffcd05;
	}

a:hover {
	font:				19px helvetica, sans-serif;
	text-decoration:	none;
	color:				#FF9906;
	}

a:active {
	font:				19px helvetica, sans-serif;
	text-decoration:	none; 
	color:				#FF9906;
	}

#container {
	width: auto;
}


#header {
	position: absolute;
	border: none;
	width: 100%;
	height: 15%;
	background-color: #333333;
	z-index: 2000;
	border-bottom: solid 5px #111; 
	box-shadow: 0px 4px 20px #222;
}

#header p {
	position: relative;
	top: 20%;
	right: -30%;
	margin-left: 100px;
	font-family: helvetica, sans-serif;
	color: #ffcd05;
	float: left;
	text-shadow: #000 2px 1px 6px;
}

#header a {
	font-size: 26px;
}


#spacer {
	width: 30px;
	float: left;
}

#spacer2 {
	width: 10px;
	float: left;
}


#logo {
	position: absolute;
	top: 0px;
	left: 65px;	
	z-index: 3000;
}

#logo img {
	height: 130px;
}

.leftSideBorder {
	position: absolute;
	width: 23%;
	top: 18%;
	border-right: 2px solid #ffcd05;
	height: 75%;
}

#pileContainer {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 15%;
	width: 100%;
	height: 85%;
	background: url('../images/pileGlass.png');
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: 110% 50%;
}

#pileContainerGroup {
	position: absolute;
	padding: 0;
	top: 15%;
	left: 24%;
	width: 75%;
	height: 85%;
}




.fragBox {
	position: absolute;
	top: 20%;
	padding: 2px;
	left: 10%;
	width: 15%;
	transform: rotate(0deg);
	-ms-transform: rotate(0deg); /* IE 9 */
	-webkit-transform: rotate(0deg); /* Safari and Chrome */
	-o-transform: rotate(0deg); /* Opera */
	-moz-transform: rotate(0deg); /* Firefox */
	box-shadow: -4px 4px 20px #222;
	padding: 10px;
	background-color: #fff;
	text-shadow: #555 -1px 1px 1px;
	line-height: 20px;
	opacity: .9;
	border: 2px solid #222;
	float: left;
}

#welcomeTextBox {
	top: 70px;
	left: 65px;
	transform: rotate(4deg);
	-ms-transform: rotate(4deg); /* IE 9 */
	-webkit-transform: rotate(4deg); /* Safari and Chrome */
	-o-transform: rotate(4deg); /* Opera */
	-moz-transform: rotate(4deg); /* Firefox */
	background-color: #ccc;
	z-index: 10;
}

#welcomeTextBox p {
	font-size: 18px;
}

#signupBox {
	position: relative;
	top: 320px;
	left: 50px;
	width: 270px;
	transform: rotate(-5deg);
	-ms-transform: rotate(-5deg); /* IE 9 */
	-webkit-transform: rotate(-5deg); /* Safari and Chrome */
	-o-transform: rotate(-5deg); /* Opera */
	-moz-transform: rotate(-5deg); /* Firefox */
	background-color: #222;
	color: #eee;
	opacity: .9;
	font-size: 17px;
	z-index: 12;
}

.leftDescription {
	top: 10%;
	left: 40px;
	width: 70%;
	transform: rotate(2deg);
	-ms-transform: rotate(2deg); /* IE 9 */
	-webkit-transform: rotate(2deg); /* Safari and Chrome */
	-o-transform: rotate(2deg); /* Opera */
	-moz-transform: rotate(2deg); /* Firefox */
	background-color: #ccc;
	opacity: .8;
	z-index: 10;
	padding: 10px;
}



.descriptHeader {
	font-weight: bold;
	color: #333;
	font-size: 24px;
	margin-top: 5px;
	line-height: 26px;
	padding: 2px 5px 15px 5px;
	border-bottom: 2px solid #333;
}

#signupbtn {
	position: absolute;
	top: 470px;
	left: 115px;
}

#saveButton {
	position: absolute;
	top: 400px;
	left: 115px;

}

.pileLink {
	font-size: 16px;
	font-weight: bold;
	font-color: #ddd;
	text-decoration: none;
	padding: 0px 5px;
}


.btn:link {
	color: #fff;
	font-style: italic;
	font-weight: 600;
	font-size: 13px;
}

.btn:hover {
	background-position:0 -15px;
	color:#333;
	text-decoration:none;
}


/* DynDiv 0.5 by Markus Bordihn (markusbordihn.de) */

.dynDiv_moveDiv {
 cursor: move;
 position: absolute;
 overflow: hidden;
}

.dynDiv_resizeDiv_tl,.dynDiv_resizeDiv_tr,.dynDiv_resizeDiv_bl,.dynDiv_resizeDiv_br {
 width: 10px;
 height: 10px;
 background: #faa;
 border: 1px solid #000;
 position: absolute;
}

.dynDiv_resizeDiv_tl {
 top: -1px;
 left: -1px;
}

.dynDiv_resizeDiv_tr {
 top: -1px;
 right: -1px;
}

.dynDiv_resizeDiv_bl {
 bottom: -1px;
 left: -1px;
}

.dynDiv_resizeDiv_br {
 bottom: -1px;
 right: -1px;
}

.dynDiv_moveParentDiv {
 width: 100%;
 margin: auto;
 height: 16px;
 font-size: 15px;
 position: absolute;
 top: -1px;
 left: -1px;
 background: #faa;
 border: 1px solid #aaa;
 border-left: 0;
 border-right: 0;
 padding: 0;
 overflow: hidden;
 white-space:nowrap;
}

.dynDiv_minmaxDiv {
 position: absolute;
 top: 1px;
 right: 15px;
 width: 15px;
 height: 15px;
 background: #faa;
 font-size: 15px;
 padding: 0;
 margin: 0;
}

/*need to make class for divs so the class can be applied to any div created*/

#fragID {
	width: 220px;
	height: 205px;
	top: 150px;
	left: 100px;
	border: solid 1px #ccc;
	color: #ddd;
	background-color: #111;	
}

#testdiv_1 {
	color: #ddd;
	 width: 200px;
	 height: 200px;
	 background: #111;
	 border: 1px solid #ccc;
	 padding: 10px;
	 top: 200px;
	 left: 250px;
	 position: absolute;
}


#testdiv_2 {
	color: #ddd;
	 width: 200px;
	 height: 200px;
	 background: #111;
	 border: 1px solid #ccc;
	 padding: 10px;
	 top: 300px;
	 left: 400px;
	 position: absolute;
}

#testdiv_3 {
	top: 300px;
	left: 500px;
	width: 210px;
	height: 200px;
	border: solid 1px #ccc;
	color: #ddd;
	background-color: #777;
	padding: 2px;
}

#footer {
	position: absolute;
	bottom: 0px;
	border: none;
	width: 100%;
	height: 5%;
	background-color: #333333;
	z-index: 2000;
	border-top: solid 2px #111; 
	box-shadow: 0px 4px 20px #222;
}




/* MODAL CSS */

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.hide {
	display: none;
}

.name_header {
	font-style: italic;
}

#modal-from-dom {
	z-index: 20000;
	width: 300px;
	height: 250px;
	box-shadow: 0px 0px 20px #ffb900;
	font-size: 12px;
	border: 2px solid #ffcd05;
}

#modal-unavailable {
	z-index: 20000;
	width: 250px;
	height: 150px;
	position: absolute;
	top: 80%;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 0px 20px #ffb900;
	text-shadow: 0px 0px 2px #777;
	font-size: 12px;
	border: 2px solid #ffcd05;
}

#modal-grouppile {
	z-index: 20000;
	width: 300px;
	height: 250px;
	box-shadow: 0px 0px 20px #ffb900;
	font-size: 12px;
	border: 2px solid #ffcd05;
}

#modal-userpile {
	z-index: 20000;
	width: 300px;
	height: 250px;
	box-shadow: 0px 0px 20px #ffb900;
	font-size: 12px;
	border: 2px solid #ffcd05;
}

#modal-createfrag {
	z-index: 20000;
	width: 350px;
	height: 375px;
	box-shadow: 0px 0px 20px #ffb900;
	font-size: 12px;
	border: 2px solid #ffcd05;
}

.modal {
  position: fixed;
  top: 65%;
  left: 60%;
  z-index: 10000;
  width: 100%;
  margin: -280px 0 0 -250px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 5 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.modal .modal-header {
  border-bottom: 1px solid #eee;
  padding: 5px 20px;
}
.modal .modal-header .close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #999;
  line-height: 10px;
  font-size: 18px;
}
.modal .modal-body {
  padding: 20px;
}
.modal .modal-footer {
  background-color: #f5f5f5;
  padding: 14px 20px 15px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
  margin-bottom: 18px;
  margin-bottom: 0;
}
.modal .modal-footer:before, .modal .modal-footer:after {
  display: table;
  content: "";
}
.modal .modal-footer:after {
  clear: both;
}
.modal .modal-footer .btn {
  float: right;
  margin-left: 10px;
}

.fade {
	-webkit-transition:opacity 0.15s 
	linear;-moz-transition:opacity 0.15s 
	linear;-ms-transition:opacity 0.15s 
	linear;-o-transition:opacity 0.15s linear;transition:opacity 0.15s linear;opacity:0;}

.fade.in{opacity:1;}

/* END MODAL CSS */

.formField {
	position: absolute;
	right: 10px;
}

.submitButton {
	position: absolute;
	right: 10px;
	bottom: 25px;

}

.aligncenter {
	position: absolute;
	margin-left: 25%;
}

/*BUTTON STYLINGS */

/**/

/*  MIN BOOTSTRAP BUTTON CSS */

button,
input,
select,
textarea {
  font-size: 100%;
  font-weight: bold;
  margin: 10;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 10;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #ffcd05;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#E07E1B), to(#ffcd05));
  background-image: -moz-linear-gradient(top, #E07E1B, #ffcd05);
  background-image: -ms-linear-gradient(top, #E07E1B, #ffcd05);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E07E1B), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #E07E1B, #ffcd05);
  background-image: -o-linear-gradient(top, #E07E1B, #ffcd05);
  background-image: linear-gradient(top, #E07E1B, #ffcd05);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #ffcd05 #ffcd05 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}

.btn.danger,
.alert-message.danger,
.btn.danger:hover,
.alert-message.danger:hover,
.btn.error,
.alert-message.error,
.btn.error:hover,
.alert-message.error:hover,
.btn.success,
.alert-message.success,
.btn.success:hover,
.alert-message.success:hover,
.btn.info,
.alert-message.info,
.btn.info:hover,
.alert-message.info:hover {
  color: #333;
}
.btn.danger,
.alert-message.danger,
.btn.error,
.alert-message.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.success, .alert-message.success {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.info, .alert-message.info {
  background-color: #ffcd05;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#E07E1B), to(#ffcd05));
  background-image: -moz-linear-gradient(top, #E07E1B, #ffcd05);
  background-image: -ms-linear-gradient(top, #E07E1B, #ffcd05);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E07E1B), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #E07E1B, #ffcd05);
  background-image: -o-linear-gradient(top, #E07E1B, #ffcd05);
  background-image: linear-gradient(top, #E07E1B, #ffcd05);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #ffcd05 #ffcd05 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}