body {
	margin: 0; 
	padding: 0;
	background-color: #555;
	}

body {
	font-size: 18px;
	line-height: 14px;
	line-height: 18px;
	font-family: helvetica, sans-serif;
	text-decoration: none;
	color: #000;
	}

/* ------------------------------------------------------------------ */

a:link {
	font:				19px helvetica, sans-serif;
	text-decoration:	none; 
	color:				#ffcd05;
	}
	
a:visited {
	font:				19px helvetica, sans-serif; 
	text-decoration:	none; 
	color:				#ffcd05;
	}

a:hover {
	font:				19px helvetica, sans-serif;
	text-decoration:	none;
	color:				#FF9906;
	}
	
a:active {
	font:				19px helvetica, sans-serif;
	text-decoration:	none; 
	color:				#FF9906;
	}
	
#container {
	width: auto;
}
	

#header {
	position: absolute;
	border: none;
	width: 100%;
	height: 15%;
	background-color: #333333;
	z-index: 2000;
	border-bottom: solid 5px #111; 
	box-shadow: 0px 4px 20px #222;
}

#header p {
	position: relative;
	bottom: 10px;
	left: 30%;
	margin-left: 200px;
	font-size: 45px;
	font-family: helvetica, sans-serif;
	color: #ffcd05;
	float: left;
	text-shadow: #000 2px 1px 6px;
}

#header a {
	font-size: 30px;
}

#spacer {
	width: 30px;
	float: left;
}

#individaulexplaination p {
	width: 370px;
	height:70px;
	position:fixed;
	left:0%;
	padding-top:25px;
	padding-left:20px;
	top:10%;
	font-size: 45px;
	background-color: #333333;
	z-index: 2000;
	border: solid 5px #111; 
	font-family: helvetica, sans-serif;
	color: #ffcd05;
}

#individualexplainationbottom p {
	width: 370px;
	height:100%;
	position:fixed;
	left:0%;
	padding-top:10px;
	padding-left:20px;
	top:20%;
	line-height:120%;
	font-size: 45px;
	background-color: #333333;
	z-index: 2000;
	border: solid 5px #111; 
	font-family: helvetica, sans-serif;
	color: #ffcd05;
}


#logo {
	position: absolute;
	top: 0px;
	left: 65px;	
	z-index: 3000;
}

#logo img {
	height: 130px;
}

#pileContainer {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 15%;
	width: 100%;
	height: 85%;
	background: url('../images/pileGlass.png');
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: 110% 50%;
}

#pileContainerGroup {
	position: absolute;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 75%;
}

#pileContainerGroup div.scrollableArea {
	width: auto;
}


.fragBox {
	position: absolute;
	top: 20%;
	padding: 2px;
	left: 10%;
	width: 240px;
	transform: rotate(0deg);
	-ms-transform: rotate(0deg); /* IE 9 */
	-webkit-transform: rotate(0deg); /* Safari and Chrome */
	-o-transform: rotate(0deg); /* Opera */
	-moz-transform: rotate(0deg); /* Firefox */
	box-shadow: -4px 4px 20px #222;
	padding: 10px;
	background-color: #fff;
	text-shadow: #555 -1px 1px 1px;
	line-height: 20px;
	opacity: .9;
	border: 2px solid #222;
	float: left;
}

#welcomeTextBox {
	top: 10%;
	left: 65px;
	transform: rotate(4deg);
	-ms-transform: rotate(4deg); /* IE 9 */
	-webkit-transform: rotate(4deg); /* Safari and Chrome */
	-o-transform: rotate(4deg); /* Opera */
	-moz-transform: rotate(4deg); /* Firefox */
	background-color: #ccc;
	z-index: 10;
}

#welcomeTextBox p {
	font-size: 18px;
}

#signupBox {
	top: 55%;
	left: 50px;
	width: 270px;
	transform: rotate(-5deg);
	-ms-transform: rotate(-5deg); /* IE 9 */
	-webkit-transform: rotate(-5deg); /* Safari and Chrome */
	-o-transform: rotate(-5deg); /* Opera */
	-moz-transform: rotate(-5deg); /* Firefox */
	background-color: #222;
	color: #eee;
	opacity: .9;
	font-size: 17px;
	z-index: 12;
}

#signupbtn {
	position: absolute;
	top: 82%;
	left: 115px;

}

.pileLink {
	font-size: 16px;
	font-weight: bold;
	font-color: #ddd;
	text-decoration: none;
	padding: 0px 5px;
}




.btn:link {
	color: #fff;
	font-style: italic;
	font-weight: 600;
	font-size: 13px;
}

.btn:hover {
	background-position:0 -15px;
	color:#333;
	text-decoration:none;
}


/* DynDiv 0.5 by Markus Bordihn (markusbordihn.de) */

.dynDiv_moveDiv {
 cursor: move;
 position: absolute;
 top: 20%;
 left: 40%;
 overflow: hidden;
}

.dynDiv_moveDiv img {
	height: 125px;
	padding: 5px 5px;
}

.dynDiv_moveDiv p {
	display: inline;
	float: left;
	position: relative;
	top: 0px;
	left: 5px;
}

.dynDiv_resizeDiv_tl,.dynDiv_resizeDiv_tr,.dynDiv_resizeDiv_bl,.dynDiv_resizeDiv_br {
 width: 6px;
 height: 6px;
 background: #ddd;
 border: none;
 filter: alpha(opacity:50);
 position: absolute;
}

.dynDiv_resizeDiv_tl {
 top: -1px;
 left: -1px;
}

.dynDiv_resizeDiv_tr {
 top: -1px;
 right: -1px;
}

.dynDiv_resizeDiv_bl {
 bottom: -1px;
 left: -1px;
}

.dynDiv_resizeDiv_br {
 bottom: -1px;
 right: -1px;
}

.dynDiv_moveParentDiv {
 width: 100%;
 margin: auto;
 height: 16px;
 font-size: 15px;
 position: absolute;
 top: -1px;
 left: -1px;
 background: #faa;
 border: 1px solid #aaa;
 border-left: 0;
 border-right: 0;
 padding: 0;
 overflow: hidden;
 white-space:nowrap;
}

.dynDiv_minmaxDiv {
 position: absolute;
 top: 1px;
 right: 15px;
 width: 15px;
 height: 15px;
 background: #faa;
 font-size: 15px;
 padding: 0;
 margin: 0;
}

/*need to make class for divs so the class can be applied to any div created*/

#fragID {
	width: 220px;
	height: 205px;
	top: 150px;
	left: 100px;
	border: solid 1px #ccc;
	color: #ddd;
	background-color: #111;	
}

#testdiv_1 {
	width: 220px;
	height: 205px;
	top: 150px;
	left: 100px;
	border: solid 1px #ccc;
	color: #ddd;
	background-color: #111;
}


#testdiv_2 {
	width: 220px;
	height: 200px;
	top: 200px;
	left: 250px;
	border: solid 1px #ccc;
	color: #ddd;
	background-color: #333;
	padding: 5px;
}

#testdiv_3 {
	top: 300px;
	left: 1400px;
	width: 210px;
	height: 300px;
	border: solid 1px #ccc;
	color: #ddd;
	background-color: #777;
	padding: 2px;
}

#footer {
	position: absolute;
	bottom: 0px;
	border: none;
	width: 100%;
	height: 5%;
	background-color: #333333;
	z-index: 2000;
	border-top: solid 2px #111; 
	box-shadow: 0px 4px 20px #222;
}



/* You can alter this CSS in order to give Smooth Div Scroll your own look'n'feel */

/* Invisible left hotspot */
div.scrollingHotSpotLeft
{
	/* The hotspots have a minimum width of 100 pixels and if there is room the will grow
    and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */
	min-width: 75px;
	width: 10%;
	height: 100%;
	/* There is a big background image and it's used to solve some problems I experienced
    in Internet Explorer 6. */
	background-image: url('../images/big_transparent.gif');
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 6000;
	left: 0;
	/*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
/*	cursor: url(../images/cursors/cursor_arrow_left.png), url(../images/cursors/cursor_arrow_left.cur),w-resize;
*/}

/* Visible left hotspot */
div.scrollingHotSpotLeftVisible
{
	background-image: url('../images/arrow_left.png');				
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35; /* Standard CSS3 opacity setting */
	-moz-opacity: 0.35; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
	filter: alpha(opacity = 35); /* Opacity for Internet Explorer. */
	zoom: 1; /* Trigger "hasLayout" in Internet Explorer 6 or older versions */
}

/* Invisible right hotspot */
div.scrollingHotSpotRight
{
	min-width: 75px;
	width: 10%;
	height: 100%;
	background-image: url('../images/big-transparent.gif');
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 6000;
	right: 0;
/*	cursor: url(../images/cursors/cursor_arrow_right.png), url(../images/cursors/cursor_arrow_right.cur),e-resize;
*/}

/* Visible right hotspot */
div.scrollingHotSpotRightVisible
{
	background-image: url('../images/arrow_right.png');
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.9;
	filter: alpha(opacity = 35);
	-moz-opacity: 0.35;
	zoom: 1;
}

/* The scroll wrapper is always the same width and height as the containing element (div).
   Overflow is hidden because you don't want to show all of the scrollable area.
*/
div.scrollWrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

div.scrollableArea
{
	position: relative;
	width: auto;
	height: 100%;
}


/* MODAL CSS */

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.hide {
	display: none;
}

.name_header {
	font-style: italic;
}

#modal-from-dom {
	z-index: 20000;
	width: 300px;
	height: 250px;
	box-shadow: 0px 0px 20px #ffb900;
	font-size: 12px;
	border: 2px solid #ffcd05;
}

#modal-unavailable {
	z-index: 20000;
	width: 250px;
	height: 150px;
	position: absolute;
	top: 80%;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 0px 20px #ffb900;
	text-shadow: 0px 0px 2px #777;
	font-size: 12px;
	border: 2px solid #ffcd05;
}

.modal {
  position: fixed;
  top: 65%;
  left: 60%;
  z-index: 10000;
  width: 100%;
  margin: -280px 0 0 -250px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 5 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.modal .modal-header {
  border-bottom: 1px solid #eee;
  padding: 5px 20px;
}
.modal .modal-header .close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #999;
  line-height: 10px;
  font-size: 18px;
}
.modal .modal-body {
  padding: 20px;
}
.modal .modal-footer {
  background-color: #f5f5f5;
  padding: 14px 20px 15px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
  margin-bottom: 18px;
  margin-bottom: 0;
}
.modal .modal-footer:before, .modal .modal-footer:after {
  display: table;
  content: "";
}
.modal .modal-footer:after {
  clear: both;
}
.modal .modal-footer .btn {
  float: right;
  margin-left: 10px;
}

.fade {
	-webkit-transition:opacity 0.15s 
	linear;-moz-transition:opacity 0.15s 
	linear;-ms-transition:opacity 0.15s 
	linear;-o-transition:opacity 0.15s linear;transition:opacity 0.15s linear;opacity:0;}

	.fade.in{opacity:1;}

/* END MODAL CSS */

.formField {
	position: absolute;
	right: 10px;
}

.submitButton {
	position: absolute;
	right: 10px;
	bottom: 25px;

}

/*BUTTON STYLINGS */

/**/

/*  MIN BOOTSTRAP BUTTON CSS */

button,
input,
select,
textarea {
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}

.btn.danger,
.alert-message.danger,
.btn.danger:hover,
.alert-message.danger:hover,
.btn.error,
.alert-message.error,
.btn.error:hover,
.alert-message.error:hover,
.btn.success,
.alert-message.success,
.btn.success:hover,
.alert-message.success:hover,
.btn.info,
.alert-message.info,
.btn.info:hover,
.alert-message.info:hover {
  color: #333;
}
.btn.danger,
.alert-message.danger,
.btn.error,
.alert-message.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.success, .alert-message.success {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.info, .alert-message.info {
  background-color: #ffcd05;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#E07E1B), to(#ffcd05));
  background-image: -moz-linear-gradient(top, #E07E1B, #ffcd05);
  background-image: -ms-linear-gradient(top, #E07E1B, #ffcd05);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E07E1B), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #E07E1B, #ffcd05);
  background-image: -o-linear-gradient(top, #E07E1B, #ffcd05);
  background-image: linear-gradient(top, #E07E1B, #ffcd05);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #ffcd05 #ffcd05 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}