

   	<div id="modal-createfrag" class="modal hide fade">
	      <div class="modal-header">
	        <a href="#" class="close">&times;</a>
	        <h2 id="name_header">CREATE A FRAG</h2>
	      </div>

	      <div class="modal-body">
	          <form id="frag" action="/frag/new">
	  			<h3><label>Put your content here: </label></h3>
	  			<textarea rows="10" cols="40" name="fragContent" type="html">
	  			</textarea><br /><br />
	  			<span class="btn info aligncenter"><input type="submit" value="Create Frag"/></span>
	      </div>

   	</div>


	
	<div id="mainContainer">

		<div id="header">
 			<div id="logo"><img src="../public/images/pileLogo2.png"></div>
 
		
          <p>
	      <a href="#">GROUP PILE.</a></p>
			

			<p>
			<a href="user">YOUR PILE.</a></p>

			<p data-controls-modal="modal-createfrag"
				data-backdrop="true"
				data-keyboard="true">
			<a href="#">CREATE A FRAG.</a></p>
		</div>

		<div id="pileContainerGroup">

				<div id="testdiv_1" class="dynDiv_moveDiv">
					<p>This is the first test div. It is an image post with this text description.</p>
					<img src="images/jesuscafe.jpg">
					<div class="footer">
						<p><span class="footerPoster">Posted by PosterUno</span><span class="footerDate"> at 08:25 a.m.</span></p>
					</div>	
				</div>


				<div id="testdiv_2" class="dynDiv_moveDiv">
					<p>This is the second test div. It is an animated image post with this text description.</p>
					<div class="footer">
						<p><span class="footerPoster">Posted by PosterDos</span><span class="footerDate"> at 06:45 p.m.</span></p>
					</div>	
				</div>
				
				<div id="testdiv_3" class="dynDiv_moveDiv">
					<p>This is the third test div. It is a link post with this text description.</p>
					<a href="http://bit.ly/jF9dk7"><span class="pileLink">http://bit.ly/jF9dk7</span></a>
					<div class="footer">
						<p><span class="footerPoster">Posted by PosterTres</span><span class="footerDate"> at 12:19 p.m.</span></p>
					</div>	
				</div>
				
		</div>
	</div>
	

				<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
				<script type="text/javascript" src="../public/javascripts/jquery-ui-1.8.19.custom.min.js"></script>
				<script type="text/javascript" src="..public/javascripts/jquery.mousewheel.min.js"></script>
				<script type="text/javascript" src="../public/javascripts/horizscroll.js"></script>
				<script type="text/javascript">
					$(document).ready(function() {
						$("div#pileContainerGroup").smoothDivScroll({ 
							manualContinuousScrolling: true,
							visibleHotSpotBackgrounds: "always",
							autoScrollingMode: "onstart",
							easingAfterHotSpotScrolling: true
						});
					});
				</script>