<!DOCTYPE html>
<html>


	<head>
		<meta charset="utf-8">
		<title>PILE</title>
 				<link rel="stylesheet" href="/stylesheets/style.css">
 			    <link rel="stylesheet" href="/stylesheets/animations.css">
				<script type="text/javascript" src="/javascripts/byrei-dyndiv_1.0rc1.js"></script>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
				<script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js"></script>



		</head>
		
	<body>


	
	<div id="container">

		<div id="header">
			
 			<div id="logo"><a href="index.html"><img src="/images/pileLogo2.png"></a></div>
 
		


   	<div id="modal-createfrag" class="modal hide fade">
	      <div class="modal-header">
	        <a href="#" class="close">&times;</a>
	        <h2 id="name_header">CREATE A FRAG</h2>
	      </div>

	      <div class="modal-body">
	          <form id="frag" action="/frag/new">
	  			<h3><label>Put your content here: </label></h3>
	  			<textarea rows="10" cols="40" name="fragContent" type="html">
	  			</textarea><br /><br />
	  			<span class="btn info aligncenter"><input type="submit" value="Create Frag"/></span>
	      </div>

   	</div>


          <p>
	      <a href="#" class="submenu">GROUP PILE.</a></p>
			

			<p>
			<a href="user.html" class="submenu">YOUR PILE.</a></p>

			<p data-controls-modal="modal-createfrag"
				data-backdrop="true"
				data-keyboard="true">
			<a href="#" class="submenu">CREATE A FRAG.</a></p>
		</div>
		</div>


		<div class="leftSideBorder">
			<div class="fragBox leftDescription">
				<p class="descriptHeader">This is the community PILE.</p>
				<p>The most recent frags will appear on top by default, but you can click on a lower-level frag to bring it to the front.</p>
				<p>After you CREATE A FRAG from this page, you will be redirected to your user page.</p>
			</div>
		</div>

		<div id="pileGroupPile" class="dynDiv_setLimit">
			<!--THE GROUP PILE AGGREGATED FROM USER PILES CODE NEEDS TO GO HERE -->
		</div>	


		<div id="footer">
		</div>
	</div>
	


	
	</body>
	
</html>




